﻿
@{
    ViewData["Title"] = "Ring Bell";
}

<div class="bell-container">
<h1 id="bell-text">Attente de Sonnerie ....</h1>
<lottie-player id="bell" class="bell" background="transparent"  speed="1"  loop ></lottie-player>
</div>
<div class="audio-container">
<audio class="audio" preload="none">
    <source src="raw/zapsplat_household_doorbell_chime_classic_001_65580.mp3" type="audio/mpeg">
</audio>

</div>
