
.bell{
    width: 600px;
    height:auto;
}
.bell-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.audio-container{
    display: block;
}
.audio{
    display: block;

    
}